# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List commonly used libraries used by Data scientists
* List some Data science tools
* Arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. SciPy 
4. Matplotlib
5. SciKit-Learn

| Data Science Tools | 
|:--------:|
|  Visual Studio Code   | 
|  Rstudio   | 
|  Apache Spark  |

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [9]:
200/60

3.3333333333333335

## Author
Karim Guida